akshare==1.8.73
alpaca_trade_api==2.3.0
backtrader==1.9.76.123
baostock==0.8.8
ccxt==1.82.58
colorama==0.4.4
dbutils==3.0.2
deprecation==2.1.0
Django==4.0.4
fastapi==0.89.1
futu==0.0.1
gm==3.0.148
ipython==8.9.0
jsonpickle==2.1.0
matplotlib==3.2.2
numpy==1.20.1
pandas==1.4.2
polygon==1.1.0
prettytable==3.6.0
pyecharts==2.0.1
PyMySQL==1.0.2
pytdx==1.72
pytz==2022.7
qiniu==7.10.0
redis==4.4.2
requests==2.28.1
snapshot_selenium==0.0.2
SQLAlchemy==2.0.0
tenacity==8.0.1
tqdm==4.64.1
tqsdk==3.3.0
tushare==1.2.89
uvicorn==0.20.0
vnpy==3.5.0
vnpy_ctabacktester==1.0.9
vnpy_ctastrategy==1.1.2
vnpy_ctp==6.6.7.0
vnpy_datamanager==1.0.7
vnpy_portfoliostrategy==1.0.3
wtpy==0.9.6.1
